[Unit]
Description=Pull nspawn backups from %i every 30 minutes

[Timer]
OnCalendar=*:0/30
RandomizedDelaySec=60
Persistent=true

[Install]
WantedBy=timers.target
